<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Watson Portfolio</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header id="heading"></header>
    <main>
        <div id="title">
            <h1>Jack Watson</h1>
            <h2>Engineering Projects Portfolio</h2>
            <p>BYUI Electrical Engineering Student</p>
            <p>Welcome to the site!</p>
        </div>
        <div id="headshot"><img src="images/jack-square.png" width="300" height="300"></div>
        <nav id="menu">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Projects</li>
            <li>Contact</li>
            <li>Signin</li>
        </ul>
    </nav>
    </main>
</body>
</html>
