<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Watson Portfolio</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>
<body>
    <div class="bg-grid"></div>
    <header class="heading">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
        </svg>
        <p>Engineering Student Portfolio</p>
    </header>
    <main>
        <section>
            <div id="title">
                <h1>Jack Watson</h1>
                <h2>Engineering Projects Portfolio</h2>
                <p>BYUI Electrical Engineering Student</p>
                <p>&copy 2026 | Jack Watson</p>
            </div>
            <div id="headshot"><img src="images/jack-background.jpg" width="300" height="300" loading="lazy"></div>
            <nav id="menu">
                <ul id="menu-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <ul id="social-media">
                <li><img src="images/social/facebook.svg" width="45" height="45"></li>
                <li><img src="images/social/linkedin.svg" width="45" height="45"></li>
                <li><img src="images/social/youtube.svg" width="45" height="45"></li>
                <li><img src="images/social/pinterest.svg" width="45" height="45"></li>
            </ul>
        </section>
    </main> 
    <footer>
        <h3>Discover more about Jack</h3>
        <p><a href="">Linked In Profile</a></p>
        <p><a href="">Resume</a></p>
        <p><a href="">Instagram Reels</a></p>
        <p><a href="">Inspiration</a></p>
        <p>Thank you for visiting</p>
    </footer>
</body>
</html>
