<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Watson Portfolio</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header id="heading"></header>
    <main>
        <section>
            <div id="title">
                <h1>Jack Watson</h1>
                <h2>Engineering Projects Portfolio</h2>
                <p>BYUI Electrical Engineering Student</p>
            </div>
            <div id="headshot"><img src="images/jack-background.jpg" width="300" height="300" loading="lazy"></div>
            <nav id="menu">
                <ul id="menu-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <ul id="social-media">
                <li><img src="images/social/facebook.svg" width="45" height="45"></li>
                <li><img src="images/social/linkedin.svg" width="45" height="45"></li>
                <li><img src="images/social/youtube.svg" width="45" height="45"></li>
                <li><img src="images/social/pinterest.svg" width="45" height="45"></li>
            </ul>
        </section>
    </main> 
    <footer></footer>
</body>
</html>
